In [1]:
from bs4 import BeautifulSoup
import requests

In [3]:
page = requests.get("https://www.teamrankings.com/nfl/stat/passing-yards-per-game?date=2013-02-03")
page

In [10]:
soup = BeautifulSoup(page.content, 'html.parser')
table = soup.find("table")

In [11]:
print(table)

<table class="tr-table datatable scrollable">
<thead>
<tr>
<th class="text-center sort-asc-first sort-first">Rank</th>
<th class="text-left sort-asc-first">Team</th>
<th class="text-right">2012</th>
<th class="text-right nowrap">Last 3</th>
<th class="text-right nowrap">Last 1</th>
<th class="text-right">Home</th>
<th class="text-right">Away</th>
<th class="text-right">2011</th>
</tr>
</thead>
<tbody>
<tr>
<td class="rank text-center" data-sort="1">1</td>
<td class="text-left nowrap" data-sort="New Orleans"><a href="https://www.teamrankings.com/nfl/team/new-orleans-saints">New Orleans</a></td>
<td class="text-right" data-sort="312.312">312.3</td>
<td class="text-right" data-sort="374">374.0</td>
<td class="text-right" data-sort="378">378.0</td>
<td class="text-right" data-sort="289">289.0</td>
<td class="text-right" data-sort="335.625">335.6</td>
<td class="text-right" data-sort="346.722">346.7</td>
</tr>
<tr>
<td class="rank text-center" data-sort="2">2</td>
<td class="text-left nowrap" data-sort="Detroit"><a href="https://www.teamrankings.com/nfl/team/detroit-lions">Detroit</a></td>
<td class="text-right" data-sort="307.938">307.9</td>
<td class="text-right" data-sort="308.667">308.7</td>
<td class="text-right" data-sort="255">255.0</td>
<td class="text-right" data-sort="330.625">330.6</td>
<td class="text-right" data-sort="285.25">285.3</td>
<td class="text-right" data-sort="305.529">305.5</td>
</tr>
<tr>
<td class="rank text-center" data-sort="3">3</td>
<td class="text-left nowrap" data-sort="Dallas"><a href="https://www.teamrankings.com/nfl/team/dallas-cowboys">Dallas</a></td>
<td class="text-right" data-sort="295.562">295.6</td>
<td class="text-right" data-sort="310">310.0</td>
<td class="text-right" data-sort="196">196.0</td>
<td class="text-right" data-sort="346.375">346.4</td>
<td class="text-right" data-sort="244.75">244.8</td>
<td class="text-right" data-sort="262.562">262.6</td>
</tr>
<tr>
<td class="rank text-center" data-sort="4">4</td>
<td class="text-left nowrap" data-sort="New England"><a href="https://www.teamrankings.com/nfl/team/new-england-patriots">New England</a></td>
<td class="text-right" data-sort="295.389">295.4</td>
<td class="text-right" data-sort="310.333">310.3</td>
<td class="text-right" data-sort="320">320.0</td>
<td class="text-right" data-sort="294.6">294.6</td>
<td class="text-right" data-sort="296.375">296.4</td>
<td class="text-right" data-sort="313.211">313.2</td>
</tr>
<tr>
<td class="rank text-center" data-sort="5">5</td>
<td class="text-left nowrap" data-sort="Atlanta"><a href="https://www.teamrankings.com/nfl/team/atlanta-falcons">Atlanta</a></td>
<td class="text-right" data-sort="286.389">286.4</td>
<td class="text-right" data-sort="286.333">286.3</td>
<td class="text-right" data-sort="396">396.0</td>
<td class="text-right" data-sort="266.3">266.3</td>
<td class="text-right" data-sort="311.5">311.5</td>
<td class="text-right" data-sort="257.353">257.4</td>
</tr>
<tr>
<td class="rank text-center" data-sort="6">6</td>
<td class="text-left nowrap" data-sort="Denver"><a href="https://www.teamrankings.com/nfl/team/denver-broncos">Denver</a></td>
<td class="text-right" data-sort="282.765">282.8</td>
<td class="text-right" data-sort="309.333">309.3</td>
<td class="text-right" data-sort="273">273.0</td>
<td class="text-right" data-sort="291.333">291.3</td>
<td class="text-right" data-sort="273.125">273.1</td>
<td class="text-right" data-sort="158.778">158.8</td>
</tr>
<tr>
<td class="rank text-center" data-sort="7">7</td>
<td class="text-left nowrap" data-sort="Indianapolis"><a href="https://www.teamrankings.com/nfl/team/indianapolis-colts">Indianapolis</a></td>
<td class="text-right" data-sort="258.529">258.5</td>
<td class="text-right" data-sort="216.333">216.3</td>
<td class="text-right" data-sort="267">267.0</td>
<td class="text-right" data-sort="253">253.0</td>
<td class="text-right" data-sort="263.444">263.4</td>
<td class="text-right" data-sort="187.188">187.2</td>
</tr>
<tr>
<td class="rank text-center" data-sort="8">8</td>
<td class="text-left nowrap" data-sort="Las Vegas"><a href="https://www.teamrankings.com/nfl/team/las-vegas-raiders">Las Vegas</a></td>
<td class="text-right" data-sort="255.25">255.3</td>
<td class="text-right" data-sort="158">158.0</td>
<td class="text-right" data-sort="150">150.0</td>
<td class="text-right" data-sort="279.375">279.4</td>
<td class="text-right" data-sort="231.125">231.1</td>
<td class="text-right" data-sort="247.625">247.6</td>
</tr>
<tr>
<td class="rank text-center" data-sort="9">9</td>
<td class="text-left nowrap" data-sort="Green Bay"><a href="https://www.teamrankings.com/nfl/team/green-bay-packers">Green Bay</a></td>
<td class="text-right" data-sort="252.611">252.6</td>
<td class="text-right" data-sort="277">277.0</td>
<td class="text-right" data-sort="248">248.0</td>
<td class="text-right" data-sort="246.333">246.3</td>
<td class="text-right" data-sort="258.889">258.9</td>
<td class="text-right" data-sort="303.824">303.8</td>
</tr>
<tr>
<td class="rank text-center" data-sort="10">10</td>
<td class="text-left nowrap" data-sort="Tampa Bay"><a href="https://www.teamrankings.com/nfl/team/tampa-bay-buccaneers">Tampa Bay</a></td>
<td class="text-right" data-sort="248.938">248.9</td>
<td class="text-right" data-sort="296.667">296.7</td>
<td class="text-right" data-sort="222">222.0</td>
<td class="text-right" data-sort="269.75">269.8</td>
<td class="text-right" data-sort="228.125">228.1</td>
<td class="text-right" data-sort="228.125">228.1</td>
</tr>
<tr>
<td class="rank text-center" data-sort="11">11</td>
<td class="text-left nowrap" data-sort="Houston"><a href="https://www.teamrankings.com/nfl/team/houston-texans">Houston</a></td>
<td class="text-right" data-sort="245.889">245.9</td>
<td class="text-right" data-sort="282">282.0</td>
<td class="text-right" data-sort="334">334.0</td>
<td class="text-right" data-sort="260">260.0</td>
<td class="text-right" data-sort="231.778">231.8</td>
<td class="text-right" data-sort="213.444">213.4</td>
</tr>
<tr>
<td class="rank text-center" data-sort="12">12</td>
<td class="text-left nowrap" data-sort="Baltimore"><a href="https://www.teamrankings.com/nfl/team/baltimore-ravens">Baltimore</a></td>
<td class="text-right" data-sort="240.368">240.4</td>
<td class="text-right" data-sort="276">276.0</td>
<td class="text-right" data-sort="235">235.0</td>
<td class="text-right" data-sort="286.111">286.1</td>
<td class="text-right" data-sort="199.2">199.2</td>
<td class="text-right" data-sort="213.611">213.6</td>
</tr>
<tr>
<td class="rank text-center" data-sort="13">13</td>
<td class="text-left nowrap" data-sort="NY Giants"><a href="https://www.teamrankings.com/nfl/team/new-york-giants">NY Giants</a></td>
<td class="text-right" data-sort="239.062">239.1</td>
<td class="text-right" data-sort="163.333">163.3</td>
<td class="text-right" data-sort="212">212.0</td>
<td class="text-right" data-sort="264.125">264.1</td>
<td class="text-right" data-sort="214">214.0</td>
<td class="text-right" data-sort="293.9">293.9</td>
</tr>
<tr>
<td class="rank text-center" data-sort="14">14</td>
<td class="text-left nowrap" data-sort="Philadelphia"><a href="https://www.teamrankings.com/nfl/team/philadelphia-eagles">Philadelphia</a></td>
<td class="text-right" data-sort="236.938">236.9</td>
<td class="text-right" data-sort="235">235.0</td>
<td class="text-right" data-sort="207">207.0</td>
<td class="text-right" data-sort="241.875">241.9</td>
<td class="text-right" data-sort="232">232.0</td>
<td class="text-right" data-sort="256.875">256.9</td>
</tr>
<tr>
<td class="rank text-center" data-sort="15">15</td>
<td class="text-left nowrap" data-sort="Pittsburgh"><a href="https://www.teamrankings.com/nfl/team/pittsburgh-steelers">Pittsburgh</a></td>
<td class="text-right" data-sort="236.688">236.7</td>
<td class="text-right" data-sort="208.333">208.3</td>
<td class="text-right" data-sort="121">121.0</td>
<td class="text-right" data-sort="200.75">200.8</td>
<td class="text-right" data-sort="272.625">272.6</td>
<td class="text-right" data-sort="252.824">252.8</td>
</tr>
<tr>
<td class="rank text-center" data-sort="16">16</td>
<td class="text-left nowrap" data-sort="Carolina"><a href="https://www.teamrankings.com/nfl/team/carolina-panthers">Carolina</a></td>
<td class="text-right" data-sort="230.188">230.2</td>
<td class="text-right" data-sort="211">211.0</td>
<td class="text-right" data-sort="257">257.0</td>
<td class="text-right" data-sort="213.25">213.3</td>
<td class="text-right" data-sort="247.125">247.1</td>
<td class="text-right" data-sort="239.125">239.1</td>
</tr>
<tr>
<td class="rank text-center" data-sort="17">17</td>
<td class="text-left nowrap" data-sort="LA Rams"><a href="https://www.teamrankings.com/nfl/team/los-angeles-rams">LA Rams</a></td>
<td class="text-right" data-sort="221.875">221.9</td>
<td class="text-right" data-sort="264.333">264.3</td>
<td class="text-right" data-sort="252">252.0</td>
<td class="text-right" data-sort="229.857">229.9</td>
<td class="text-right" data-sort="215.667">215.7</td>
<td class="text-right" data-sort="179.375">179.4</td>
</tr>
<tr>
<td class="rank text-center" data-sort="18">18</td>
<td class="text-left nowrap" data-sort="Cincinnati"><a href="https://www.teamrankings.com/nfl/team/cincinnati-bengals">Cincinnati</a></td>
<td class="text-right" data-sort="217.412">217.4</td>
<td class="text-right" data-sort="171">171.0</td>
<td class="text-right" data-sort="118">118.0</td>
<td class="text-right" data-sort="202.25">202.3</td>
<td class="text-right" data-sort="230.889">230.9</td>
<td class="text-right" data-sort="209.647">209.6</td>
</tr>
<tr>
<td class="rank text-center" data-sort="19">19</td>
<td class="text-left nowrap" data-sort="Cleveland"><a href="https://www.teamrankings.com/nfl/team/cleveland-browns">Cleveland</a></td>
<td class="text-right" data-sort="214.688">214.7</td>
<td class="text-right" data-sort="185.667">185.7</td>
<td class="text-right" data-sort="182">182.0</td>
<td class="text-right" data-sort="173.5">173.5</td>
<td class="text-right" data-sort="255.875">255.9</td>
<td class="text-right" data-sort="193.125">193.1</td>
</tr>
<tr>
<td class="rank text-center" data-sort="20">20</td>
<td class="text-left nowrap" data-sort="Jacksonville"><a href="https://www.teamrankings.com/nfl/team/jacksonville-jaguars">Jacksonville</a></td>
<td class="text-right" data-sort="214.125">214.1</td>
<td class="text-right" data-sort="269.667">269.7</td>
<td class="text-right" data-sort="253">253.0</td>
<td class="text-right" data-sort="196.375">196.4</td>
<td class="text-right" data-sort="231.875">231.9</td>
<td class="text-right" data-sort="136.188">136.2</td>
</tr>
<tr>
<td class="rank text-center" data-sort="21">21</td>
<td class="text-left nowrap" data-sort="San Francisco"><a href="https://www.teamrankings.com/nfl/team/san-francisco-49ers">San Francisco</a></td>
<td class="text-right" data-sort="209.889">209.9</td>
<td class="text-right" data-sort="252.667">252.7</td>
<td class="text-right" data-sort="224">224.0</td>
<td class="text-right" data-sort="219.222">219.2</td>
<td class="text-right" data-sort="200.556">200.6</td>
<td class="text-right" data-sort="187.333">187.3</td>
</tr>
<tr>
<td class="rank text-center" data-sort="22">22</td>
<td class="text-left nowrap" data-sort="Tennessee"><a href="https://www.teamrankings.com/nfl/team/tennessee-titans">Tennessee</a></td>
<td class="text-right" data-sort="207.688">207.7</td>
<td class="text-right" data-sort="123.333">123.3</td>
<td class="text-right" data-sort="142">142.0</td>
<td class="text-right" data-sort="231">231.0</td>
<td class="text-right" data-sort="184.375">184.4</td>
<td class="text-right" data-sort="245.188">245.2</td>
</tr>
<tr>
<td class="rank text-center" data-sort="23">23</td>
<td class="text-left nowrap" data-sort="Washington"><a href="https://www.teamrankings.com/nfl/team/washington-football-team">Washington</a></td>
<td class="text-right" data-sort="207.118">207.1</td>
<td class="text-right" data-sort="123.667">123.7</td>
<td class="text-right" data-sort="99">99.0</td>
<td class="text-right" data-sort="168.333">168.3</td>
<td class="text-right" data-sort="250.75">250.8</td>
<td class="text-right" data-sort="235.812">235.8</td>
</tr>
<tr>
<td class="rank text-center" data-sort="24">24</td>
<td class="text-left nowrap" data-sort="LA Chargers"><a href="https://www.teamrankings.com/nfl/team/los-angeles-chargers">LA Chargers</a></td>
<td class="text-right" data-sort="205.938">205.9</td>
<td class="text-right" data-sort="123.333">123.3</td>
<td class="text-right" data-sort="140">140.0</td>
<td class="text-right" data-sort="192.375">192.4</td>
<td class="text-right" data-sort="219.5">219.5</td>
<td class="text-right" data-sort="276.625">276.6</td>
</tr>
<tr>
<td class="rank text-center" data-sort="25">25</td>
<td class="text-left nowrap" data-sort="Buffalo"><a href="https://www.teamrankings.com/nfl/team/buffalo-bills">Buffalo</a></td>
<td class="text-right" data-sort="204.312">204.3</td>
<td class="text-right" data-sort="222.333">222.3</td>
<td class="text-right" data-sort="225">225.0</td>
<td class="text-right" data-sort="208.375">208.4</td>
<td class="text-right" data-sort="200.25">200.3</td>
<td class="text-right" data-sort="231.562">231.6</td>
</tr>
<tr>
<td class="rank text-center" data-sort="26">26</td>
<td class="text-left nowrap" data-sort="Miami"><a href="https://www.teamrankings.com/nfl/team/miami-dolphins">Miami</a></td>
<td class="text-right" data-sort="198.688">198.7</td>
<td class="text-right" data-sort="179">179.0</td>
<td class="text-right" data-sort="209">209.0</td>
<td class="text-right" data-sort="186.5">186.5</td>
<td class="text-right" data-sort="210.875">210.9</td>
<td class="text-right" data-sort="193.188">193.2</td>
</tr>
<tr>
<td class="rank text-center" data-sort="27">27</td>
<td class="text-left nowrap" data-sort="Seattle"><a href="https://www.teamrankings.com/nfl/team/seattle-seahawks">Seattle</a></td>
<td class="text-right" data-sort="197.5">197.5</td>
<td class="text-right" data-sort="244.333">244.3</td>
<td class="text-right" data-sort="368">368.0</td>
<td class="text-right" data-sort="186.75">186.8</td>
<td class="text-right" data-sort="206.1">206.1</td>
<td class="text-right" data-sort="194.062">194.1</td>
</tr>
<tr>
<td class="rank text-center" data-sort="28">28</td>
<td class="text-left nowrap" data-sort="Arizona"><a href="https://www.teamrankings.com/nfl/team/arizona-cardinals">Arizona</a></td>
<td class="text-right" data-sort="187.812">187.8</td>
<td class="text-right" data-sort="174.333">174.3</td>
<td class="text-right" data-sort="207">207.0</td>
<td class="text-right" data-sort="212.125">212.1</td>
<td class="text-right" data-sort="163.5">163.5</td>
<td class="text-right" data-sort="222.938">222.9</td>
</tr>
<tr>
<td class="rank text-center" data-sort="29">29</td>
<td class="text-left nowrap" data-sort="Chicago"><a href="https://www.teamrankings.com/nfl/team/chicago-bears">Chicago</a></td>
<td class="text-right" data-sort="187">187.0</td>
<td class="text-right" data-sort="165.667">165.7</td>
<td class="text-right" data-sort="245">245.0</td>
<td class="text-right" data-sort="174.75">174.8</td>
<td class="text-right" data-sort="199.25">199.3</td>
<td class="text-right" data-sort="188.188">188.2</td>
</tr>
<tr>
<td class="rank text-center" data-sort="30">30</td>
<td class="text-left nowrap" data-sort="NY Jets"><a href="https://www.teamrankings.com/nfl/team/new-york-jets">NY Jets</a></td>
<td class="text-right" data-sort="180.688">180.7</td>
<td class="text-right" data-sort="154">154.0</td>
<td class="text-right" data-sort="199">199.0</td>
<td class="text-right" data-sort="186.75">186.8</td>
<td class="text-right" data-sort="174.625">174.6</td>
<td class="text-right" data-sort="206.062">206.1</td>
</tr>
<tr>
<td class="rank text-center" data-sort="31">31</td>
<td class="text-left nowrap" data-sort="Minnesota"><a href="https://www.teamrankings.com/nfl/team/minnesota-vikings">Minnesota</a></td>
<td class="text-right" data-sort="171.059">171.1</td>
<td class="text-right" data-sort="185">185.0</td>
<td class="text-right" data-sort="157">157.0</td>
<td class="text-right" data-sort="188.125">188.1</td>
<td class="text-right" data-sort="155.889">155.9</td>
<td class="text-right" data-sort="184.812">184.8</td>
</tr>
<tr>
<td class="rank text-center" data-sort="32">32</td>
<td class="text-left nowrap" data-sort="Kansas City"><a href="https://www.teamrankings.com/nfl/team/kansas-city-chiefs">Kansas City</a></td>
<td class="text-right" data-sort="169.562">169.6</td>
<td class="text-right" data-sort="96.6667">96.7</td>
<td class="text-right" data-sort="26">26.0</td>
<td class="text-right" data-sort="179.375">179.4</td>
<td class="text-right" data-sort="159.75">159.8</td>
<td class="text-right" data-sort="192.5">192.5</td>
</tr>
</tbody>
</table>

In [20]:
import pprint
pp = pprint.PrettyPrinter(indent = 4)

In [21]:
data = []
table_head = table.find('thead')
head_rows = table_head.find_all('tr')
head_cols = head_rows[0].find_all('th')
header_vals = [h.text.strip() for h in head_cols]
pp.pprint(header_vals)


table_body = table.find('tbody')

rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele]) # Get rid of empty values
pp.pprint(data)

['Rank', 'Team', '2012', 'Last 3', 'Last 1', 'Home', 'Away', '2011']
[   ['1', 'New Orleans', '312.3', '374.0', '378.0', '289.0', '335.6', '346.7'],
    ['2', 'Detroit', '307.9', '308.7', '255.0', '330.6', '285.3', '305.5'],
    ['3', 'Dallas', '295.6', '310.0', '196.0', '346.4', '244.8', '262.6'],
    ['4', 'New England', '295.4', '310.3', '320.0', '294.6', '296.4', '313.2'],
    ['5', 'Atlanta', '286.4', '286.3', '396.0', '266.3', '311.5', '257.4'],
    ['6', 'Denver', '282.8', '309.3', '273.0', '291.3', '273.1', '158.8'],
    ['7', 'Indianapolis', '258.5', '216.3', '267.0', '253.0', '263.4', '187.2'],
    ['8', 'Las Vegas', '255.3', '158.0', '150.0', '279.4', '231.1', '247.6'],
    ['9', 'Green Bay', '252.6', '277.0', '248.0', '246.3', '258.9', '303.8'],
    ['10', 'Tampa Bay', '248.9', '296.7', '222.0', '269.8', '228.1', '228.1'],
    ['11', 'Houston', '245.9', '282.0', '334.0', '260.0', '231.8', '213.4'],
    ['12', 'Baltimore', '240.4', '276.0', '235.0', '286.1', '199.2', '213.6'],
    ['13', 'NY Giants', '239.1', '163.3', '212.0', '264.1', '214.0', '293.9'],
    [   '14',
        'Philadelphia',
        '236.9',
        '235.0',
        '207.0',
        '241.9',
        '232.0',
        '256.9'],
    ['15', 'Pittsburgh', '236.7', '208.3', '121.0', '200.8', '272.6', '252.8'],
    ['16', 'Carolina', '230.2', '211.0', '257.0', '213.3', '247.1', '239.1'],
    ['17', 'LA Rams', '221.9', '264.3', '252.0', '229.9', '215.7', '179.4'],
    ['18', 'Cincinnati', '217.4', '171.0', '118.0', '202.3', '230.9', '209.6'],
    ['19', 'Cleveland', '214.7', '185.7', '182.0', '173.5', '255.9', '193.1'],
    [   '20',
        'Jacksonville',
        '214.1',
        '269.7',
        '253.0',
        '196.4',
        '231.9',
        '136.2'],
    [   '21',
        'San Francisco',
        '209.9',
        '252.7',
        '224.0',
        '219.2',
        '200.6',
        '187.3'],
    ['22', 'Tennessee', '207.7', '123.3', '142.0', '231.0', '184.4', '245.2'],
    ['23', 'Washington', '207.1', '123.7', '99.0', '168.3', '250.8', '235.8'],
    ['24', 'LA Chargers', '205.9', '123.3', '140.0', '192.4', '219.5', '276.6'],
    ['25', 'Buffalo', '204.3', '222.3', '225.0', '208.4', '200.3', '231.6'],
    ['26', 'Miami', '198.7', '179.0', '209.0', '186.5', '210.9', '193.2'],
    ['27', 'Seattle', '197.5', '244.3', '368.0', '186.8', '206.1', '194.1'],
    ['28', 'Arizona', '187.8', '174.3', '207.0', '212.1', '163.5', '222.9'],
    ['29', 'Chicago', '187.0', '165.7', '245.0', '174.8', '199.3', '188.2'],
    ['30', 'NY Jets', '180.7', '154.0', '199.0', '186.8', '174.6', '206.1'],
    ['31', 'Minnesota', '171.1', '185.0', '157.0', '188.1', '155.9', '184.8'],
    ['32', 'Kansas City', '169.6', '96.7', '26.0', '179.4', '159.8', '192.5']]

In [13]:
data

[['1', 'New Orleans', '312.3', '374.0', '378.0', '289.0', '335.6', '346.7'],
 ['2', 'Detroit', '307.9', '308.7', '255.0', '330.6', '285.3', '305.5'],
 ['3', 'Dallas', '295.6', '310.0', '196.0', '346.4', '244.8', '262.6'],
 ['4', 'New England', '295.4', '310.3', '320.0', '294.6', '296.4', '313.2'],
 ['5', 'Atlanta', '286.4', '286.3', '396.0', '266.3', '311.5', '257.4'],
 ['6', 'Denver', '282.8', '309.3', '273.0', '291.3', '273.1', '158.8'],
 ['7', 'Indianapolis', '258.5', '216.3', '267.0', '253.0', '263.4', '187.2'],
 ['8', 'Las Vegas', '255.3', '158.0', '150.0', '279.4', '231.1', '247.6'],
 ['9', 'Green Bay', '252.6', '277.0', '248.0', '246.3', '258.9', '303.8'],
 ['10', 'Tampa Bay', '248.9', '296.7', '222.0', '269.8', '228.1', '228.1'],
 ['11', 'Houston', '245.9', '282.0', '334.0', '260.0', '231.8', '213.4'],
 ['12', 'Baltimore', '240.4', '276.0', '235.0', '286.1', '199.2', '213.6'],
 ['13', 'NY Giants', '239.1', '163.3', '212.0', '264.1', '214.0', '293.9'],
 ['14', 'Philadelphia', '236.9', '235.0', '207.0', '241.9', '232.0', '256.9'],
 ['15', 'Pittsburgh', '236.7', '208.3', '121.0', '200.8', '272.6', '252.8'],
 ['16', 'Carolina', '230.2', '211.0', '257.0', '213.3', '247.1', '239.1'],
 ['17', 'LA Rams', '221.9', '264.3', '252.0', '229.9', '215.7', '179.4'],
 ['18', 'Cincinnati', '217.4', '171.0', '118.0', '202.3', '230.9', '209.6'],
 ['19', 'Cleveland', '214.7', '185.7', '182.0', '173.5', '255.9', '193.1'],
 ['20', 'Jacksonville', '214.1', '269.7', '253.0', '196.4', '231.9', '136.2'],
 ['21', 'San Francisco', '209.9', '252.7', '224.0', '219.2', '200.6', '187.3'],
 ['22', 'Tennessee', '207.7', '123.3', '142.0', '231.0', '184.4', '245.2'],
 ['23', 'Washington', '207.1', '123.7', '99.0', '168.3', '250.8', '235.8'],
 ['24', 'LA Chargers', '205.9', '123.3', '140.0', '192.4', '219.5', '276.6'],
 ['25', 'Buffalo', '204.3', '222.3', '225.0', '208.4', '200.3', '231.6'],
 ['26', 'Miami', '198.7', '179.0', '209.0', '186.5', '210.9', '193.2'],
 ['27', 'Seattle', '197.5', '244.3', '368.0', '186.8', '206.1', '194.1'],
 ['28', 'Arizona', '187.8', '174.3', '207.0', '212.1', '163.5', '222.9'],
 ['29', 'Chicago', '187.0', '165.7', '245.0', '174.8', '199.3', '188.2'],
 ['30', 'NY Jets', '180.7', '154.0', '199.0', '186.8', '174.6', '206.1'],
 ['31', 'Minnesota', '171.1', '185.0', '157.0', '188.1', '155.9', '184.8'],
 ['32', 'Kansas City', '169.6', '96.7', '26.0', '179.4', '159.8', '192.5']]

In [22]:
import pandas as pd

In [30]:
# This value is the date after the conclusion of the previous week
week_dates = {
    1: '2012-09-05',
    2: '2012-09-12',
    3: '2012-09-19',
    4: '2012-09-26',
    5: '2012-10-03',
    6: '2012-10-10',
    7: '2012-10-17',
    8: '2012-10-24',
    9: '2012-10-31',
    10: '2012-11-7',
    11: '2012-11-14',
    12: '2012-11-21',
    13: '2012-11-28',
    14: '2012-12-5',
    15: '2012-12-12',
    16: '2012-12-19'
}

In [61]:
full_team_name_to_acronym = {
    'NY Giants': 'NYG',
    'Philadelphia': 'PHI',
    'Las Vegas': 'OAK',
    'New Orleans': 'NO',
    'Detroit': 'DET',
    'Dallas': 'DAL',
    'Carolina': 'CAR',
    'New England': 'NE',
    'Baltimore': 'BAL',
    'Kansas City': 'KC',
    'Washington': 'WAS',
    'Atlanta': 'ATL',
    'Minnesota': 'MIN',
    'LA Chargers': 'SD',
    'Green Bay': 'GB',
    'Cincinnati': 'CIN',
    'Indianapolis': 'IND',
    'Pittsburgh': 'PIT',
    'LA Rams': 'STL',
    'Denver': 'DEN',
    'Houston': 'HOU',
    'Tennessee': 'TEN',
    'Cleveland': 'CLE',
    'NY Jets': 'NYJ',
    'San Francisco': 'SF',
    'Chicago': 'CHI',
    'Miami': 'MIA',
    'Buffalo': 'BUF',
    'Tampa Bay': 'TB',
    'Arizona': 'ARI',
    'Jacksonville': 'JAX',
    'Seattle': 'SEA'
}

In [45]:
stat_df = pd.DataFrame(data, columns=header_vals)

In [46]:
stat_df.head()

  Rank         Team   2012 Last 3 Last 1   Home   Away   2011
0    1  New Orleans  312.3  374.0  378.0  289.0  335.6  346.7
1    2      Detroit  307.9  308.7  255.0  330.6  285.3  305.5
2    3       Dallas  295.6  310.0  196.0  346.4  244.8  262.6
3    4  New England  295.4  310.3  320.0  294.6  296.4  313.2
4    5      Atlanta  286.4  286.3  396.0  266.3  311.5  257.4

In [47]:
stat_df['Team_Ab'] = stat_df['Team'].map(full_team_name_to_acronym)

In [50]:
stat_df['Rank'] =  1
stat_df

    Rank           Team   2012 Last 3 Last 1   Home   Away   2011 Team_Ab
0      1    New Orleans  312.3  374.0  378.0  289.0  335.6  346.7      NO
1      1        Detroit  307.9  308.7  255.0  330.6  285.3  305.5     DET
2      1         Dallas  295.6  310.0  196.0  346.4  244.8  262.6     DAL
3      1    New England  295.4  310.3  320.0  294.6  296.4  313.2      NE
4      1        Atlanta  286.4  286.3  396.0  266.3  311.5  257.4     ATL
5      1         Denver  282.8  309.3  273.0  291.3  273.1  158.8     DEN
6      1   Indianapolis  258.5  216.3  267.0  253.0  263.4  187.2     IND
7      1      Las Vegas  255.3  158.0  150.0  279.4  231.1  247.6     OAK
8      1      Green Bay  252.6  277.0  248.0  246.3  258.9  303.8      GB
9      1      Tampa Bay  248.9  296.7  222.0  269.8  228.1  228.1      TB
10     1        Houston  245.9  282.0  334.0  260.0  231.8  213.4     HOU
11     1      Baltimore  240.4  276.0  235.0  286.1  199.2  213.6     BAL
12     1      NY Giants  239.1  163.3  212.0  264.1  214.0  293.9     NYG
13     1   Philadelphia  236.9  235.0  207.0  241.9  232.0  256.9     PHI
14     1     Pittsburgh  236.7  208.3  121.0  200.8  272.6  252.8     PIT
15     1       Carolina  230.2  211.0  257.0  213.3  247.1  239.1     CAR
16     1        LA Rams  221.9  264.3  252.0  229.9  215.7  179.4     STL
17     1     Cincinnati  217.4  171.0  118.0  202.3  230.9  209.6     CIN
18     1      Cleveland  214.7  185.7  182.0  173.5  255.9  193.1     CLE
19     1   Jacksonville  214.1  269.7  253.0  196.4  231.9  136.2     JAX
20     1  San Francisco  209.9  252.7  224.0  219.2  200.6  187.3     NaN
21     1      Tennessee  207.7  123.3  142.0  231.0  184.4  245.2     TEN
22     1     Washington  207.1  123.7   99.0  168.3  250.8  235.8     WAS
23     1    LA Chargers  205.9  123.3  140.0  192.4  219.5  276.6      SD
24     1        Buffalo  204.3  222.3  225.0  208.4  200.3  231.6     BUF
25     1          Miami  198.7  179.0  209.0  186.5  210.9  193.2     MIA
26     1        Seattle  197.5  244.3  368.0  186.8  206.1  194.1     SEA
27     1        Arizona  187.8  174.3  207.0  212.1  163.5  222.9     ARI
28     1        Chicago  187.0  165.7  245.0  174.8  199.3  188.2     CHI
29     1        NY Jets  180.7  154.0  199.0  186.8  174.6  206.1     NYJ
30     1      Minnesota  171.1  185.0  157.0  188.1  155.9  184.8     MIN
31     1    Kansas City  169.6   96.7   26.0  179.4  159.8  192.5      KC

In [40]:
keys = pd.read_csv('nfl-tweets-v1.0/tweets.key.csv')
df = pd.read_csv('nfl-tweets-v1.0/tweets.nfl.2012.weekly.csv', names=list(keys))

In [72]:
def get_stats_by_week(num_weeks, week_date_map, team_abb, stat_url):
    """
    Input:
        num_weeks -> will loop from week 1 to num_weeks (inclusive) to get data
        week_date_map -> map from week num (int) to date in form 'YEAR-MONTH-DAY' of start of week
        team_abb -> map from full team name string (as shown in teamrankings.com) to abbrev in kevins dataset
        stat_url -> url of statistic to be collected from teamrankings ex. 'passing-yards-per-game'
    
    Output: 
        dataframe -> Rank	Team	2012	Last 3	Last 1	Home	Away	2011	Team_Ab Week
    """

    base_url = f'https://www.teamrankings.com/nfl/stat/{stat_url}'

    stat_list = []
    first = True

    for wk_num in range(1, num_weeks + 1):
        date = week_date_map[wk_num]
        url = base_url + f'?date={date}'

        page = requests.get(url)
        if page.status_code != 200:
            print(page.status_code)
            print(page.json())
            break

        soup = BeautifulSoup(page.content, 'html.parser')
        table = soup.find("table")

        if first:
            table_head = table.find('thead')
            head_rows = table_head.find_all('tr')
            head_cols = head_rows[0].find_all('th')
            header_vals = [h.text.strip() for h in head_cols]
            header_vals.append('Week')
            header_vals.append('Team_Abb')
            # print(header_vals)
            first = False

        table_body = table.find('tbody')
        rows = table_body.find_all('tr')
        for row in rows:
            cols = row.find_all('td')
            cols = [ele.text.strip() for ele in cols]
            cols.append(wk_num)
            cols.append(team_abb[cols[1]])
            stat_list.append(cols) # Get rid of empty values

    return header_vals, stat_list

In [73]:
headers, vals = get_stats_by_week(16, week_dates, full_team_name_to_acronym, 'passing-yards-per-game')

In [74]:
headers

['Rank',
 'Team',
 '2012',
 'Last 3',
 'Last 1',
 'Home',
 'Away',
 '2011',
 'Week',
 'Team_Abb']

In [76]:
len(vals)

512

In [78]:
pass_stats_df = pd.DataFrame(vals, columns=headers)

In [79]:
pass_stats_df.head()

  Rank          Team 2012 Last 3 Last 1 Home Away   2011  Week Team_Abb
0            Atlanta   --     --     --   --   --  257.4     1      ATL
1        New Orleans   --     --     --   --   --  346.7     1       NO
2          NY Giants   --     --     --   --   --  293.9     1      NYG
3            NY Jets   --     --     --   --   --  206.1     1      NYJ
4       Philadelphia   --     --     --   --   --  256.9     1      PHI

In [80]:
pass_stats_df.to_csv('2012-passing-yards-per-game.csv', index=False)

In [81]:
stats_to_collect = ['points-per-game', 'turnover-margin-per-game', 'rushing-yards-per-game']

In [82]:
for stat in stats_to_collect:
    headers, vals = get_stats_by_week(16, week_dates, full_team_name_to_acronym, stat)
    stats_df = pd.DataFrame(vals, columns=headers)
    stats_df.to_csv(f'2012-{stat}.csv', index=False)